<div class="footer container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <h3>Kitchen_Web</h3>
            <p>GOOD FOOD , GOOD HEALTH</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 footer-nav">
            <a routerLink="" routerLinkActive="active-link" > Home</a>
            <a routerLink="menu" routerLinkActive="active-link" > Menu</a>
            <a routerLink="about" routerLinkActive="active-link" > About</a>
            <a routerLink="contact" routerLinkActive="active-link" > Contact</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 footer-icons">
            <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>