.banner{
    background-image: url('../../../assets/images/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg');
    height: 81%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    position: absolute;
    top: 30%;
    left: 20%;
}
.banner-content h1{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
   
}
.banner-content a{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 15px 20px;
    border-radius: 5px;
}
.banner-content a:hover{
    background-color: #AECBB9;
    color: green ;
}
span{
    color: #267F4D;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.step-box{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    border-radius: 5px;
}
.step-box h1{
    color: #267F4D;
    font-weight: bold;
    font-size: 40px;
}
.step-box p{
    font-size: 20px;
    font-style: italic;
}
.foodbox{
    padding: 10px 5px;

}
.foodbox img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1{
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0px;
}
.viewmorebtn{
    background-color: #267F4D;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;

}
.viewmorebtn:hover{
    color: black;
}